*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.back{
    background-color: #010133;
    color: aliceblue;
    padding-top: 100px;
}
/* ===========================| QUIZ |=========================== */
.qu{
    padding:80px 40px;
    font-size: 50px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
    box-shadow: 0 0 12px rgba(19, 155, 253, 0.6), 0 0 24px rgba(19, 155, 253, 0.4);
}
.option-box{
    padding: 15px 50px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin-top:30px ;
    box-shadow: 0 0 10px rgba(19, 155, 253, 0.6), 0 0 20px rgba(19, 155, 253, 0.4);
    transition: 0.3s;
}
.option-box:hover{
    background-color: #0d6dfda4;
    color: rgb(255, 255, 255);
    border:0px solid #0d6dfdb6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}
#pre{
    color: rgb(255, 255, 255);
    border: 0px solid #010133;
    box-shadow: 0 0 10px rgba(19, 155, 253, 0.6), 0 0 20px rgba(19, 155, 253, 0.4);
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #010133;
    float: left;
    margin-top: 50px;
    margin-left: 530px;
     text-transform: capitalize;
    font-weight: 500;
    transition: 0.3s;
}
#pre:hover{
    background-color: #0d6dfda4;
    color: rgb(255, 255, 255);
    border:0px solid #0d6dfdb6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}
#ne{
    color: rgb(255, 255, 255);
    border: 0px solid #010133 ;
    box-shadow: 0 0 10px rgba(19, 155, 253, 0.6), 0 0 20px rgba(19, 155, 253, 0.4);
    border-radius: 20px;
    padding: 10px 35px;
    background-color: #010133;
    float: right;
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 530px;
    transition: 0.3s;
}
#ne:hover{
    background-color: #0d6dfda4;
    color: rgb(255, 255, 255);
    border:0px solid #0d6dfdb6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}
.option-box.selected {
    background-color: #2a60b736;
}
#submit{
    color: rgb(255, 255, 255);
    border: 0px solid #010133;
    box-shadow: 0 0 10px rgba(19, 155, 253, 0.6), 0 0 20px rgba(19, 155, 253, 0.4);
    border-radius: 20px;
    padding: 10px 35px;
    background-color: #010133;
    float: right;
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 530px;
    display: none;
    transition: 0.3s;
} 
#submit:hover{
    background-color: #0d6dfda4;
    color: rgb(255, 255, 255);
    border:0px solid #0d6dfdb6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}
h2{
    text-align: center;
}
/* ===========================| POPUP |=========================== */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup-box {
    background-color: #010133;
    box-shadow: 0 0 10px rgba(19, 155, 253, 0.6), 0 0 20px rgba(19, 155, 253, 0.4);
    padding: 30px 25px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 15px;
    animation: pop 0.4s ease;
}
.popup-box h3 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}
.popup-box p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
    
}
.popup-box button {
    padding: 10px 25px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 0px solid #010133;
    box-shadow: 0 0 10px rgba(19, 155, 253, 0.6), 0 0 20px rgba(19, 155, 253, 0.4);
    border-radius: 20px;
    padding: 10px 35px;
    background-color: #010133;
    transition: 0.3s;
}
.popup-box button:hover{
    background-color: #0d6dfda4;
    color: rgb(255, 255, 255);
    border:0px solid #0d6dfdb6;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}

/* animation */
@keyframes pop {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    } }
