*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.img {
    position: relative;
    width: 100%;
}

.img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
.prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: 900;
    padding: 5px 18px;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
#title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 5px;
}
/* Responsive */
@media (max-width:768px) {
    .img img {
        height: 300px;
    }
}

@media (max-width:480px) {
    .img img {
        height: 200px;
    }
}